/* default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
} 

.logo {
    float: left; 
    margin-bottom: 12px; 
}

/* header */
header {
    background-color: #0F9D58;
    color: #fff;
    padding: 20px; 
    text-align: center;
}

 /* Regular navigation styles */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #351C15; 
}

/* Style for the dropdown select box */
nav select {
    display: none;
    float: right;
    margin: 10px;
    padding: 5px;
}
/* hero section */
.hero {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.hero img {
    width: 100%;
    height: 400px; 
    filter: brightness(0.9);
    object-fit: cover;
}

.hero h1 { 
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 4.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-weight: bold;
}  
.hero h4{ 
    position: absolute;
    top: 10%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-weight: bold;
}


/* styles for the color of SUP */
.hero h1 .letter-S {
    color: khaki;  
}

.hero h1 .letter-U {
    color: red;    
}

.hero h1 .letter-P {
    color: green;  
}

.hero p { 
    background-color: khaki; 
    color: #000;
    position: absolute;
    top: 70%;
    left: 50%; 
    font-weight: bold; 
    font-family: 'Courier New', Courier, monospace;
    transform: translate(-50%, -50%);
}  

/* Announcements section */
#announcements {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
  }
  
  #announcements h2 {
    color: #333;
  }
  
  #announcements-container {
    display: grid;
    gap: 20px;
    margin-top: 20px;
  }
  
  #announcements-container div {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #announcements-container h3 {
    color: #333;
  }
  
  #announcements-container p { 
    color: #666;
  } 


  /* Event Section Styles */

#events {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

#events h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 30px;
}

#events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#events-container div {
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px;
    
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

#events-container div:hover {
    transform: translateY(-5px);
}

#events-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
}

#events-container div h3 {
    color: #333;
    font-size: 1.8em;
    margin: 15px;
}

#events-container div p {
    color: #666;
    padding: 0 15px 15px; 
}

/* Overlay Effect */
#events-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#events-container div:hover .overlay {
    opacity: 1;
}

#events-container .overlay h3 {
    margin-bottom: 10px;
}

#events-container .overlay p {
    margin: 0;
}

  

/* footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: left; 
    padding: 40px 0;
}
/* social styles */
.social-media a { 
    float: right;
    margin: 0 10px;
}

.social-media img {
    width: 30px;
    height: auto; 
    margin-bottom: 5px;
}

#images-container {
    display: flex;
    flex-wrap: wrap;
}

.image-card {
    width: calc(33.3333% - 20px);
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}  
 
/* responsive view */
@media screen and (max-width: 768px) {
    #images-container {
        flex-direction: column;
    }

    .image-card {
        width: 100%;
        margin: 10px 0;
    }
} 
 
/*  media query to show the dropdown on small screens */
@media screen and (max-width: 600px) {
    nav ul {
        display: none;
    }

    nav select {
        display: block;
    }
}