/* default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
} 

.logo {
    float: left; 
    margin-bottom: 12px; 
}

/* header */
header {
    background-color: #0F9D58;
    color: #fff;
    padding: 20px; 
    text-align: center;
}

 /* Regular navigation styles */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #351C15; 
}

/* Style for the dropdown select box */
nav select {
    display: none;
    float: right;
    margin: 10px;
    padding: 5px;
}
/* hero section */
.hero {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.hero img {
    width: 100%;
    height: 400px; 
    filter: brightness(0.9);
    object-fit: cover;
} 
main h3{
    font-size: 1.5em;
}

.hero h1 { 
    position: absolute;
    top: 60%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 4.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-weight: bold;
}  
.hero h4{ 
    position: absolute;
    top: 20%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-weight: bold;
}

/*the color of SUP */
.hero h1 .letter-S {
    color: khaki;  
}

.hero h1 .letter-U {
    color: red;    
}

.hero h1 .letter-P {
    color: green;  
}

.hero p { 
    background-color: khaki; 
    color: #000;
    position: absolute;
    top: 75%;
    left: 50%; 
    font-weight: bold; 
    font-family: 'Courier New', Courier, monospace;
    transform: translate(-50%, -50%);
}

/* Form style*/
main {
    padding: 50px;
}

form {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
}

h3 {
    text-align: center;   
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    color: #333;
}

/* Sections within the form */
section {
    margin-bottom: 30px; 
    
}

h2 {
    color: #333;
    font-size: 0.9em;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 15px;
} 
#agreement p{
    font-family: courier;
}

label {
    display: block; 
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
} 

input,
select,
textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #0F9D58;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #08682E;
}  
#mobile-nav{  
    /* float: left; */
    width: 40%; 
} 
 /* Sup Leadership Section */
#leadership {
    background-color: rgb(240, 230, 140);
    color: #fff;
    padding: 50px 0;
}

.sup-leadership {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust the column width as needed */
    gap: 20px;
    justify-content: center;
}

.leader {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.leader.show {
    opacity: 1;
    transform: translateY(0);
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.front {
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.leader h3 {
    color: #3498db;
    font-size: 1.8em;
    margin-bottom: 10px;
}

p {
    color: #555;
    font-size: 1.1em;
    margin: 5px 0;
}

/* Chairman and Co-Chairman */
.leader.half-width {
    grid-column: span 2;
}

 

.contact-container h2 {
    text-align: center;
    font-size: 1.5em;
}



/* footer */
footer {
    background-color: #333;
    padding: 40px 0;
} 
footer P{ 
    color: #fff;
    font-weight: bold; 
    text-align: center;
 }
/* social styles */
.social-media a { 
    float: right;
    margin: 0 10px;
}

.social-media img {
    width: 30px;
    height: auto; 
    margin-bottom: 5px;
}

#images-container {
    display: flex;
    flex-wrap: wrap;
}

.image-card {
    width: calc(33.3333% - 20px);
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}    

/* responsive view */
@media screen and (max-width: 768px) {
    #images-container {
        flex-direction: column;
    }

    .image-card {
        width: 100%;
        margin: 10px 0;
    }
} 
 
/*  media query to show the dropdown on small screens */
@media screen and (max-width: 600px) {
    nav ul {
        display: none;
    }

    nav select {
        display: block;
    }
}
